body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

img {
    width: 100%;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

.spotlight {
    height: 100vh;
    object-fit: cover;
    border: 1px solid #707070;
}

section {
    scroll-snap-align: start;
    border: 1px solid #707070;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.scroll_snap_type_y_mandatory {
    scroll-snap-type: y mandatory;


}

.container_left {
    width: 50vw;
    height: 100vh;
    overflow-y: scroll;
    /*    scroll-snap-type: y mandatory;*/
}

.container_right {
    width: 50vw;
    height: 100vh;
    overflow-y: scroll;
    /*    scroll-snap-type: y mandatory;*/
}

.section_left {
    width: 100%;
    height: 100vh;
    background-color: white;
    /*     scroll-snap-align: start;*/
}

.section_right {
    width: 100%;
    height: 100vh;
    background: dodgerblue;
    /*        scroll-snap-align: start;*/
}





/*---------Media Query-------------*/





@media only screen and (max-width:768px) {

    .container {
        height: 100vh;
        grid-template-columns: repeat(1, 1fr);
        scroll-snap-type: y mandatory;
    }

    .container_left {
        width: 100vw;
        height: 100vh;


    }

    .container_right {
        width: 100vw;
        height: 100vh;

    }
}
