/* ---------- GENERELLE INDSTILLINGER -------------*/

* {
    margin: 0;
}

body {
    box-sizing: border-box;
}

/* ---------- PRODUKTSTYLING -------------*/


.data-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1000px;
    margin: 0 auto;
    grid-gap: 10px;
    padding-left: 20px;
    padding-right: 20px;



}

.produkt {

    cursor: pointer;
    margin: 10px 10px 50px 10px;
    box-shadow: 0px 5px 5px 2.5px rgba(0, 0, 0, 0.1);

}

.image {
    max-width: 100%;
    max-height: 100%;
}

.image_detalje {
    max-width: 100%;
    max-height: 100%;
    width: 20vw;
}

img {
    width: 100%;
}


.navn {
    font-family: freight-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    text-transform: uppercase;
}

.year {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;

}

.type {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
}

.origin {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.oprindelse {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 10px;
}

/*+ --------------------- DETALJE VIEW -----------*/

#detalje .image_detalje {
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
}

.img1,
.img2,
.img3 {
    scroll-snap-align: center;
}

#detalje .detalje_text {
    width: 50vw;
    padding: 20px;

}

#detalje button {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    background-color: white;
    color: black;
    border: none;
    margin: 10px;
    text-transform: uppercase;
    padding: 10px;
    transition: 0.3s;
}

#detalje button:hover {
    color: darkmagenta;
    transition: 0.3s;
}

#detalje .navn {
    font-family: freight-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    text-transform: uppercase;
}

#detalje .year {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;

}

#detalje .type {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
}

#detalje .origin {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
}

#detalje .oprindelse {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 10px;
}

#detalje .beskrivelse {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
}


/* ---------- HEADER OG NAV -------------*/


nav {


    display: block;
    position: absolute;
    top: 9vw;
    right: 5vw;

}

nav a {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    transition: 0.5s;
    padding-right: 20px;

}

nav a:hover {
    color: crimson;
    transition: 0.5s;
}

.image {
    background-size: cover;
    height: 100%;
    width: 100%;

}

header img {
    width: 50vw;
    position: absolute;
    top: 5vw;
    margin-left: 25vw;
}

.spacer {
    height: 50vh;
}


/* -------------------nav til burgermenu---------- */

.button_container {
    position: relative;
    height: 27px;
    width: 35px;
    cursor: pointer;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
    z-index: 100;
    pointer-events: auto;
}

.button_container.active .top {
    -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
    transform: translateY(8px) translateX(0) rotate(45deg);
    background: #000;
}

.button_container.active .middle {
    opacity: 0;
    background: #000;
}

.button_container.active .bottom {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
    transform: translateY(-8px) translateX(0) rotate(-45deg);
    background: #000;
}

.button_container span {
    background: #000000;
    border: none;
    height: 2px;
    width: 80%;
    position: absolute;
    top: 5px;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
}

.button_container span:nth-of-type(2) {
    top: 13px;
}

.button_container span:nth-of-type(3) {
    top: 21px;
}

.overlay {
    position: fixed;
    background: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index: 90;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
    animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}


.overlay nav {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 2em;
    font-family: 'freight-neo-pro', sans-serif;
    text-align: left;
    left: 20px;

}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
    margin-bottom: 20px;
}

.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
}

.mobile_nav {
    padding: 20px;
    min-height: 30px;
}

.current_page {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    color: #707070;
}



.hidden {
    display: none;
}



@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

/*----- nav end*******/





/* ---------- ANIMATONER -------------*/

.roundabout {
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-name: roundabout_kf;
}

@keyframes roundabout_kf {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



/*--------- MEDIA QUERIES -------------*/




@media only screen and (min-width: 600px) {
    .mobile_nav {
        display: none;
    }


    header img {
        width: 35vw;
        position: absolute;
        top: 2vw;
        margin-left: 32.5vw;
    }

    .spacer {
        height: 40vh;
    }

    #detalje article {
        display: flex;
    }

}

@media only screen and (min-width: 900px) {

    header img {
        width: 20vw;
        position: absolute;
        top: 2vw;
        margin-left: 40vw;
    }

    .spacer {
        height: 50vh;
    }
}
