/* ---------- GENERELLE INDSTILLINGER -------------*/

* {
    margin: 0;
}

body {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.hide {
    display: none;
}

/*arrow til detalje view*/

.arrow {
    color: black;
    position: absolute;
    top: 25vw;
    left: 10vw;
    z-index: 10000;
    font-size: 3rem;
}


/* ---------- PRODUKTSTYLING -------------*/


/*styling til container rundt om alle produkter*/
.data-container {
    display: grid;
    /* Her definerer alt inde i containeren som et "block level grid" */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));/ max-width: 1000px;
    margin: 0 auto;
    grid-gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;

}

/*styling til hver produkt*/
.produkt {
    cursor: pointer;
    margin: 10px 10px 50px 10px;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.05);
}

/*alle produktbilleder og gør at de passer ind i kassen*/
.image {
    max-width: 100%;
    max-height: 100%;
}

/*alt herunder er styling til skriften for hvert produkt*/
.navn {
    font-family: freight-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 15px;
    padding-left: 20px;
}

.year {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    padding-left: 20px;

}

.type {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    padding-left: 20px;
}

.origin {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-left: 20px;
    padding-bottom: 20px;
}

.oprindelse {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 10px;
    padding-left: 20px;

}

/*+ --------------------- DETALJE VIEW -----------*/

/*styling til billederne i detalje view som har snap scroll*/
#detalje .image_detalje {
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    /*snapscroll på x axis og snapper automatisk*/
    scroll-snap-type: x mandatory;
    /*gør at man  kan scrolle på billederne*/
    overflow-x: scroll;
    display: flex;
}

/*gør at alle 3 billederne lander i midten når de snapper*/
.img1,
.img2,
.img3 {
    scroll-snap-align: center;

}

#detalje img {
    object-fit: cover;
}


#detalje .detalje_text {
    padding: 20px;

}

/*styling til tilbage knap på detalje view*/
#detalje button {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    background-color: white;
    color: black;
    border: none;
    margin: 10px;
    text-transform: uppercase;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
    background: none;
}

#detalje button:hover {

    color: rgb(234, 104, 45);
    color: linear-gradient(90deg, rgba(234, 104, 45, 1) 0%, rgba(202, 57, 57, 1) 50%, rgba(209, 93, 142, 1) 100%);
    transition: 0.3s;
    cursor: pointer;
}

/*alt herunder styling til tekst på detalje view*/
#detalje .navn {
    font-family: freight-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    text-transform: uppercase;
    padding-left: 5px;

}

#detalje .year {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    padding-left: 5px;

}

#detalje .type {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    padding-left: 5px;
}

#detalje .origin {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    padding-left: 5px;
}

#detalje .oprindelse {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-top: 10px;
    padding-left: 5px;
}

#detalje .beskrivelse {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.3rem;
    padding-left: 5px;
}

#detalje .type {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    margin-top: 5px;
    padding-left: 5px;
}

/* ---------- FILTERKNAPPER -------------*/

/*alt herunder er styling til filterknapperne, hvordan de skal se ud og .valgt klassen som de får når en knap er valgt */
.filterknapper {
    text-align: center;
    margin: 10px 10px 30px 10px;
}

button {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    padding: 5px 20px 5px 20px;
    border: none;
    background: rgb(234, 104, 45);
    background: linear-gradient(90deg, rgba(234, 104, 45, 1) 0%, rgba(202, 57, 57, 1) 50%, rgba(209, 93, 142, 1) 100%);
    text-align: center;
    margin: 10px;
    color: white;
    cursor: pointer;
}

.valgt {
    background-color: black;
    background: black;
    color: white;
}


/* ---------- HEADER OG NAV -------------*/



nav {

    display: block;
    position: absolute;
    top: 2vw;
    right: 5vw;

}

nav a {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    transition: 0.5s;
    padding-right: 20px;

}

nav a:hover {
    color: rgb(234, 104, 45);
    color: linear-gradient(90deg, rgba(234, 104, 45, 1) 0%, rgba(202, 57, 57, 1) 50%, rgba(209, 93, 142, 1) 100%);
    transition: 0.5s;
}

#menu a:hover {
    color: rgb(234, 104, 45);
    color: linear-gradient(90deg, rgba(234, 104, 45, 1) 0%, rgba(202, 57, 57, 1) 50%, rgba(209, 93, 142, 1) 100%);
    transition: 0.5s;
}

/*
nav a:hover {
    color: rgb(234, 104, 45);
    color: linear-gradient(90deg, rgba(234, 104, 45, 1) 0%, rgba(202, 57, 57, 1) 50%, rgba(209, 93, 142, 1) 100%);
    transition: 0.5s;
}
*/

.image {
    background-size: cover;
    height: 100%;
    width: 100%;

}

header img {
    width: 300px;
    position: absolute;
    top: 13vw;

}

.logo {
    width: 300px;
    margin: 0 auto;
}

.spacer {
    height: 50vh;
}


#menu {
    display: flex;
    justify-content: space-between;
}

#menu a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

#mobile .col2 {
    margin-top: 5px;
    margin-right: 10px;
}

#menu {
    position: fixed;
    height: 80px;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
}



#menu h1 {
    font-family: freight-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3.5rem;
    padding-left: 20px;
}


/* -------------------nav til burgermenu---------- */

.button_container {
    position: fixed;
    height: 27px;
    width: 35px;
    cursor: pointer;
    /*    -webkit-transition: opacity .25s ease;*/
    transition: opacity .25s ease;
    z-index: 100;
    /*    pointer-events: auto;*/
    right: 4vw;
    top: 3.5vw;
}

.button_container.active .top {
    transform: translateY(8px) translateX(0) rotate(45deg);
    /*Øverste roterer nedad */
    background: #000;
}

.button_container.active .middle {
    opacity: 0;
    /* Midterste streg forsvinder */
    background: #000;
}

.button_container.active .bottom {
    transform: translateY(-8px) translateX(0) rotate(-45deg);
    /*Øverste roterer opad */
    background: #000;
}

.button_container span {
    background: #000000;
    border: none;
    height: 2px;
    width: 80%;
    position: absolute;
    top: 5px;
    left: 0;
    /*    -webkit-transition: all .35s ease;*/
    transition: all .35s ease;
    cursor: pointer;
}

.button_container span:nth-of-type(2) {
    top: 13px;
}

.button_container span:nth-of-type(3) {
    top: 21px;
}

.overlay {
    position: fixed;
    background: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    /*    -webkit-transition: opacity .35s, visibility .35s, height .35s;*/
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index: 90;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.overlay.open li {
    /*    -webkit-animation: fadeInRight .5s ease forwards;*/
    animation: fadeInRight .5s ease forwards;
    /*    -webkit-animation-delay: .35s;*/
    animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
    /*    -webkit-animation-delay: .4s;*/
    animation-delay: .4s;
}


.overlay nav {
    position: relative;
    top: 50%;
    /*    -webkit-transform: translateY(-50%);*/
    transform: translateY(-50%);
    /*    font-size: 2em;*/
    font-family: 'freight-neo-pro', sans-serif;
    text-align: left;
    left: 20px;

}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
    margin-bottom: 20px;
}

.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
}

.mobile_nav {
    padding: 20px;
    min-height: 30px;
}

.current_page {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: rgb(234, 104, 45);
    color: linear-gradient(90deg, rgba(234, 104, 45, 1) 0%, rgba(202, 57, 57, 1) 50%, rgba(209, 93, 142, 1) 100%);
}



.hidden {
    display: none;
}



@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

/*----- nav end*******/
/*---------- footer --------*/
footer {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    background-color: lightgray;
    padding: 30px;
    background: rgb(234, 104, 45);
    background: linear-gradient(90deg, rgba(234, 104, 45, 1) 0%, rgba(202, 57, 57, 1) 50%, rgba(209, 93, 142, 1) 100%);
    color: white;
    margin-top: 50px;
    display: flex;


}

footer .footertitle {
    margin-bottom: 5px;
    font-weight: 400;
}

footer p {
    margin-left: 3vw;
}

footer a {
    text-decoration: underline;
    color: white;
    margin-left: 3vw;
}

/*--------------KONTAKT SIDE-------------*/
#herobillede {
    background-image: url(billeder/hero.png);
    background-size: cover;
    width: 100vw;
    height: 70vh;
}

.kontaktparent {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 3vw;

}

.kontaktcol {
    padding: 30px;
}

#kontakt h2 {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    padding-bottom: 10px;

}

#kontakt p {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;

}


/* ---------- ANIMATONER -------------*/

.roundabout {
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-name: roundabout_kf;
}

@keyframes roundabout_kf {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



/*--------- MEDIA QUERIES -------------*/




@media only screen and (min-width: 600px) {





    header img {

        position: absolute;
        top: 4vw;

    }


    .spacer {
        height: 40vh;
    }

    #detalje article {
        display: flex;
    }

    #detalje .detalje_text {
        width: 50vw;
        padding: 20px;

    }

}

@media only screen and (min-width: 900px) {

    #desktop_nav {
        display: inline;
        /*        max-width: 1200px;*/
        margin-top: 0px;
        margin-right: -60px;

    }

    #desktop_nav a {
        font-size: 1.2rem;
    }

    .mobile_nav {
        display: none;
    }




    header img {

        position: absolute;
        top: 4vw;

    }


    .spacer {
        height: 50vh;
    }
}
