* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

img {
    width: 100%;
    height: 100%;
}

/*---------------- Basics ----------------*/

#mobile {
    display: none;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-size: 8vw;
}

h2 {
    /*    padding-top: 4rem;*/
    /*    margin: 0 0 0 1.5rem;*/
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    opacity: 80%;
}

p {
    /*    margin: 1.5rem;*/
    font-family: freight-neo-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.3rem;
}

.txt {
    margin-top: 6rem;
    padding: 0 3rem 0 3rem;
}

.linebreak {
    background-image: url(billeder/gradient_spotlight.png);
    background-size: cover;
    background-position: center;
    height: 0.5vw;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 6rem;
}

.spotlight {
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.hero_desktop_left {
    object-position: right;
    object-fit: cover;
    width: 50vw;
}

.hero_desktop_right {
    object-position: left;
    object-fit: cover;
    width: 50vw;
}

/*
.hero_section_right {
    background-image: url(billeder/hero_split.png);
    background-size: cover;
    background-position: center;
}

.hero_section_right {
    background-image: url(billeder/hero_split1.png);
    background-size: cover;
    background-position: center;

}
*/

/*
.button.background {
    margin-right: 1rem;
}
*/

.button_spotlight {
    font-size: 2rem;
    /*    padding: 1.5rem;*/
    /*    margin: 0.5rem;*/
    border: none;
    border-radius: 1rem;
    text-transform: capitalize;
    color: black;
    background: white;
    font-family: freight-neo-pro, sans-serif;
}

#menu {
    position: fixed;
    height: 80px;
    width: 100vw;
    background-color: white;
}

#menu h1 {
    font-family: freight-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3.5rem;
    padding-left: 20px;
}

#mobile #menu h1 {
    margin-left: 0px;
}



.hero {
    scroll-snap-align: start;
    /*
    max-width: 100%;
    height: auto;
    background-size: contain;
*/
}

section {
    scroll-snap-align: start;
    border: solid 1px white;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.scroll_snap_type_y_mandatory {
    scroll-snap-type: y mandatory;
}

.container_left {
    width: 50vw;
    height: 100vh;
    overflow-y: scroll;
    /*    scroll-snap-type: y mandatory;*/
}

.container_right {
    width: 50vw;
    height: 100vh;
    overflow-y: scroll;
    /*    scroll-snap-type: y mandatory;*/
}

.section_left {
    width: 100%;
    height: 100vh;
    background-color: white;
    /*     scroll-snap-align: start;*/
}

.section_right {
    width: 100%;
    height: 100vh;
    background-color: white;
    /*        scroll-snap-align: start;*/
}

/* -------------------nav til burgermenu---------- */

.button_container {
    position: relative;
    height: 27px;
    width: 35px;
    cursor: pointer;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
    z-index: 100;
    pointer-events: auto;
}

.button_container.active .top {
    -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
    transform: translateY(8px) translateX(0) rotate(45deg);
    background: #000;
}

.button_container.active .middle {
    opacity: 0;
    background: #000;
}

.button_container.active .bottom {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
    transform: translateY(-8px) translateX(0) rotate(-45deg);
    background: #000;
}

.button_container span {
    background: #000000;
    border: none;
    height: 2px;
    width: 80%;
    position: absolute;
    top: 5px;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
}

.button_container span:nth-of-type(2) {
    top: 13px;
}

.button_container span:nth-of-type(3) {
    top: 21px;
}

.overlay {
    position: fixed;
    background: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index: 90;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
    animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}


.overlay nav {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 2em;
    font-family: 'freight-neo-pro', sans-serif;
    text-align: left;
    left: 20px;

}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
    margin-bottom: 20px;
}

.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
}

.mobile_nav {
    padding: 20px;
    min-height: 30px;
}

.current_page {
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    color: #707070;
}



.hidden {
    display: none;
}



@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

/*----- nav end*******/
/* carls styling */


.mySlides {
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.box {
    width: 100%;
    height: 100vh;
}

.col1 {
    display: flex;
    flex-direction: row;
}

.loader {
    position: fixed;
    width: 100%;
    margin: 0px;
    z-index: 101;
    background-color: black;
    object-fit: cover;
}

body {
    margin: 0px;
}

.sort {
    background-color: black;

}

.hide {
    display: none;
    pointer-events: none;

}

.fadeout {
    animation-name: fadeout_kf;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }


    100% {
        opacity: 0;
        display: none;
        pointer-events: none;
    }

}

.baggrund {
    position: fixed;
    z-index: 100;
    background: black;
    width: 100vw;
    height: 100vh;
}

/*carls styling slut*/


/*---------Media Query-------------*/


@media only screen and (min-width:552px) {
    .wrapper {
        display: flex;
        flex-wrap: nowrap;
    }

    .button_background {
        align-self: flex-end;
        margin-bottom: 2rem;
        margin-right: 2rem;
    }

    #desktop_nav {
        display: inline;
        max-width: 1200px;
    }

    #menu {
        display: flex;
        justify-content: space-between;
    }

    #desktop_nav a {
        font-size: 1.2rem;

    }

    .col2 {
        margin-top: 25px;
        margin-right: 10px;
    }


    nav a {
        font-family: freight-neo-pro, sans-serif;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
        transition: 0.5s;
        padding-right: 20px;

    }

    nav a:hover {
        color: rgb(234, 104, 45);
        color: linear-gradient(90deg, rgba(234, 104, 45, 1) 0%, rgba(202, 57, 57, 1) 50%, rgba(209, 93, 142, 1) 100%);
        transition: 0.5s;
    }

}



@media only screen and (max-width:677px) {

    #mobile {
        display: block;
    }

    #desktop {
        display: none;
    }


    /*
    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }
*/

    .hero {
        width: 100%;
        height: 100vh;
    }

    .hero_mobile {
        object-fit: cover;
    }

    .linebreak {
        background-image: url(billeder/gradient_spotlight.png);
        background-size: cover;
        background-position: center;
        height: 0.5vh;
        width: 80vw;
        justify-content: center;
    }

    .gap {
        padding-top: 2rem;
    }

    h1 {
        margin: 0 0 0 1.5rem;
        padding: 0;
        font-family: freight-neo-pro, sans-serif;
        font-weight: 400;
        font-size: 4rem;
    }

    h2 {
        padding-top: 1.5rem;
        margin: 0 0 0 1.5rem;
        font-family: freight-neo-pro, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
        opacity: 80%;
    }

    p {
        margin: 1.5rem;
        font-family: freight-sans-pro, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1rem;
    }

    .spotlight {
        height: auto;
        object-fit: cover;
    }

    .container {
        height: 100vh;
        grid-template-columns: repeat(1, 1fr);

    }

    .mobile_middle {
        width: 100vw;
        height: 100vh;
        scroll-snap-type: y mandatory;

    }

    .button_spotlight {
        font-size: 1rem;
        padding: 1.5rem;
        margin: 0 2rem;
        border: none;
        border-radius: 0.5rem;
        text-transform: capitalize;
        color: black;
        background: white;
        font-family: freight-neo-pro, sans-serif;
    }

    .button_background {
        align-self: flex-end;
        margin-bottom: 2rem;
        margin-right: 2rem;
    }
}
}



/*
@media only screen and (min-width:769px) {
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
}
*/
